@import "~bulma/sass/utilities/initial-variables";

// Config vars
$body-color: #333;
$black: #2b2523;
$dark-grey: #292F33;
$medium-grey: #4b545d;
$light-grey: #75828f;
$blue: #4cbed8;
$orange: #ff7443;
$yellow: #fed65c;
$yellow-fade: #fbd65c9f;
$green: #5C903F;
$purple: #36033d;
$primary-color: #10375c;
$title-color: $orange;
$link-item-color: #f5f1f1;
$link-item-hover-color: $orange;
$navbar-background-color: $dark-grey;
$navbar-item-color: $link-item-color;
$navbar-item-hover-color: $link-item-hover-color;
$section-padding: 1rem 1.5rem;

.warning-banner{
  color: $orange;
  font-family: Glacial Indifference;
  text-align: center;
  font-size: 2rem;
  h5 {
    font-size: 1.75rem;
  }
}
.navbar .navbar-menu{
  box-shadow:none !important;
  font-family: Glacial Indifference;
  font-size: 1.1rem;
}
footer{
  background-color: $dark-grey;
  margin: auto;
  //max-height: 25px;
  min-height: 10vh;
}
.copywrite{
  width: 100%;
  margin: 5rem auto 0;
  padding: 1rem 0rem .25rem;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.content .taglist{
  //font-family: Glacial Indifference !important
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li{
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}
.homepage-banner{
  width: 100vw;
  height: 75vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 1em -50vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.homepage-title{
  background: rgba($black,0.65);
  color: rgba(207,241,239,1);
  width: 100%;
  padding: 20px;
  height: 20%;
  font-size: 4rem;
  font-weight: 700;
}
.home-banner-tile{
  height: 30vh;
  width: 30vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 1rem .5rem 0 ;
  border-radius: 20px;
  }
.avatar-banner{
  margin: 10px auto 10px;
  padding: 0 0 0 10px;
  flex: 1 1 400px;
  }

.home-avatar-image{
  margin: auto;
  height: 15rem;
  width: 15rem;
  border-radius: 50% !important;
  box-shadow: 2px 2px 3px 3px #888888;
}
.home-banner{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
}
.home-avatar-name{
  font-family: "Glacial Indifference";
  font-weight: 700;
  font-size: 1.6rem;
  color: $black;
  text-align: center;
  margin-top: .5rem;
}
.home-banner-tile-1{
  background-color: $orange;
  box-shadow: 2px 2px 3px 3px #888888;
}
.home-banner-tile-2{
  background-color: $yellow;
  box-shadow: 2px 2px 3px 3px #888888;
}
.home-banner-tile-3{
  background-color: $blue;
  box-shadow: 2px 2px 3px 3px #888888;
}
.interests-banner{
  flex: 1 1 600px;
}
.three-tile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  }
.homepage-hr{
  width: 75%;
  margin: 3rem auto 1rem ;
  border-top: 1px solid  #888888;
}
// Homepage CV lists
.home-cv-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-items: space-around;
}
.home-cv-column-1  {
  flex: 1 1 400px;
  border-radius: 5px;
  margin: 2rem 1rem 2rem;
  }
.home-cv-column-2 {
  flex: 1 1 500px;
  border-radius: 5px;
  margin: 2rem 1rem 2rem;
 }

.home-cv-title{
  color: $black;
  font-weight: 900;
  font-family: Montserrat Light;
  font-size: 1.6rem;
  text-align: center !important;
  padding-top: .5rem;
  border-bottom: 1px solid $black;
  width: 30%;
  margin: 0 auto 0;
 } 

.home-cv-item  {  
  width: 100%;
  padding: 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Glacial Indifference;
  align-items: center;
}
.home-cv-item-logo{
  margin-right: 1rem;
  font-size: 1.5rem;
  }
.home-bio-container{
  font-size: 1.25rem;
  padding: .5rem 1rem .5rem;
  font-family: Glacial Indifference;
  width: 90%;
  margin: 1rem auto 0;
}
.home-contact-container{
  font-size: 1.25rem;
  padding: .5rem 1rem .5rem;
  font-family: Glacial Indifference;
  width: 90%;
  margin: 0 auto 0;
  text-align: center;
  }
// Helper Classes
.full-width-image-container{
  width: 100vw;
  height: 500px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.half-width-image-container{
  width: 50vw;
  height: 250px;
  position: relative;
  margin: 0 auto 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width-image{
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.half-width-image{
    width: 50vw;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem auto 1rem;
  }  
.btn{
    display: inline-block;
    padding: 12px 16px 10px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 700;
    color: #CC3700;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 2px #CC3700;
    box-shadow: inset 0 0 0 2px #f40;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.margin-top-0{
  margin-top: 0 !important;
}
.navbar-item .icon{
  color: $primary-color;
  }
// Override for use of svg's from https://simpleicons.org/
.icon svg{
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.navbar-brand .navbar-item.logo{
  padding: 0 1rem;
}
.shiny-title{
  text-align: left;
  font-size: 2rem !important;
  padding-left: 1rem;
}
.shiny-meta{
  width: 100%;
}
.shiny-anchor{
  color: $black;
  }
.shiny-description-container{
  text-align: center;
  margin: 0 20% 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px #888888;
  font-size: 1.25rem;
  font-family: Glacial Indifference;
}
.shiny-app-container{
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px #888888;
  height: 100vh;
}
.shiny-roll-item-container{
  font-family: Glacial Indifference;
  }
.about-page-div{
  font-family: Glacial Indifference ; 
}
.dad-joke-section-title{
  margin: 0 auto 0;
  width: 50%;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: Montserrat Light;
  text-align: center;
  padding: 0rem 0 .5rem;
  border-bottom: 1px solid $black;
  }
.dad-joke-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0 .5rem;
}
.dad-joke-question{
  font-size: 1.4rem;
  font-weight: 700;
  font-family: Montserrat Light;
}
.dad-joke-answer{
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Montserrat Light;
}
//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $primary-color;
$menu-item-active-background-color:	$primary-color;
$menu-list-border-left: 1px solid $primary-color;
$menu-label-color: $white-ter;;

.menu-label{
  font-size: 1em !important;
  text-align: left;
  }
.menu-list{
  list-style: none !important;
  text-align: left;
  vertical-align: middle;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  font-size: 1rem;
  //padding: 1em;
  margin: auto;
}
// blog roll
.blog-list-item.is-featured{
  background-color: $yellow-fade;
  height: 100%;
 } 
.blog-list-item header{
  display: flex;
  margin-bottom: 1em;
  text-align: center;
}
.blog-list-item {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}
.featured-thumbnail{
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
  height: 10rem;
  width: 10rem;
}
@import "~bulma";

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail{
    flex-basis: 50%;
    }
+mobile
  .blog-list-item header{
    display: block;
    }
  .blog-list-item .featured-thumbnail{
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
}
